<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BackStageAll</title>
<link th:href="@{/css/chih/backStageAllMember.css}" rel="stylesheet" />
<style>
	    #searchInput::placeholder {
		  text-align: center;
		}
</style>
</head>
<body>
	<div th:replace="~{layout/dashboardHeader}"></div>
	<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">後臺管理系統</h1>
		<hr>
		<div class="card mb-4">
			<div class="card-header" style="display: flex;">
				<i class="fas fa-table me-1" style="padding-top: 15px; width: 30px; height: 30px;"></i>
				<p style="padding-left: 10px; padding-top: 15px; font-size: 20px;">使用者資訊</p>
				<div style="padding-top: 10px; position: absolute; right: 5%;">
					<input type="text" id="searchInput" placeholder="搜尋會員編號或權限" maxlength="8" style="width: 180px; height: 40px;">
					<input type="hidden" id="myMemberNum" th:value="${mbsession.memberNum}">
				</div>
			</div>
			<div class="card-body">
				<table id="memberResult" class="display" >
					<thead>
						<tr>
							<th>會員編號</th>
							<th>姓名</th>
							<th>性別</th>
							<th>信箱</th>
							<th>電話</th>
							<th>住址</th>
							<th>身分證</th>
							<th>帳號</th>
							<th>密碼</th>
							<th>權限</th>
							<th>修改</th>
							<th>刪除</th>
						</tr>
					</thead>
					<tbody id="memberListTableBody">
						<tr th:each="member, memberStat : ${memberList}">
							<td>
								<input type="text" th:id="'membernum_' + ${memberStat.index}" name="membernum" th:value="${member.memberNum}" disabled>
							</td>
							<td>
								<input type="text" th:id="'membername_' + ${memberStat.index}" name="membername" th:value="${member.memberName}" required maxlength="20" autocomplete="off" disabled>
							</td>
							<td>
								<input type="text" th:id="'membersex_' + ${memberStat.index}" th:value="${member.memberSex}" disabled>
							</td>
							<td>
								<input type="email" th:id="'membermail_' + ${memberStat.index}" name="membermail" th:value="${member.memberMail}" disabled>
							</td>
							<td>
								<input type="tel" th:id="'memberphone_' + ${memberStat.index}" name="memberphone" th:value="${member.memberPhone}" disabled>
							</td>
							<td>
								<input type="text" th:id="'memberadd_' + ${memberStat.index}" name="memberadd" th:value="${member.memberAdd}" disabled>
							</td>
							<td>
								<input type="text" th:id="'memberid_' + ${memberStat.index}" th:value="${member.memberId}" disabled>
							</td>
							<td>
								<input type="text" th:id="'memberacc_' + ${memberStat.index}" th:value="${member.memberAcc}" disabled>
							</td>
							<td>
								<input type="password" th:id="'memberpwd_' + ${memberStat.index}" name="memberpwd" th:value="${member.memberPwd}" disabled>
							</td>
							<td>
								<select th:id="'memberlevel_' + ${memberStat.index}" name="memberlevel" style="height: 30px" disabled>
									<option value="super_user" th:selected="${member.memberLevel == 'super_user'}">super_user</option>
									<option value="normal_user" th:selected="${member.memberLevel == 'normal_user'}">normal_user</option>
								</select>
							</td>
							<td>
								<form th:action="updateallmember.controller" th:method="put">
									<input type="button" class="updateAllBtn" th:id="'updateBtn_' + ${memberStat.index}" value="修改">
									<input type="hidden" th:id="'updatecheck_' + ${memberStat.index}" name="check" th:value="${''}">
									<input type="hidden" th:id="'num_' + ${memberStat.index}" name="membernum" th:value="${''}">
									<input type="hidden" th:id="'name_' + ${memberStat.index}" name="membername" th:value="${''}">
									<input type="hidden" th:id="'email_' + ${memberStat.index}" name="membermail" th:value="${''}">
									<input type="hidden" th:id="'phone_' + ${memberStat.index}" name="memberphone" th:value="${''}">
									<input type="hidden" th:id="'address_' + ${memberStat.index}" name="memberadd" th:value="${''}">
									<input type="hidden" th:id="'password_' + ${memberStat.index}" name="memberpwd" th:value="${''}">
									<input type="hidden" th:id="'level_' + ${memberStat.index}" name="memberlevel" th:value="${''}">
									<input type="submit" class="saveAllBtn" th:id="'saveBtn_' + ${memberStat.index}" th:value="確認" style="display: none;">
								</form>
							</td>
							<td>
								<form th:action="deletemember.controller" th:method="delete">
									<input type="hidden" th:id="'deletecheck_' + ${memberStat.index}" name="check" value="">
									<input type="hidden" th:id="'numdelete_' + ${memberStat.index}" name="numdelete" th:value="${member.memberNum}">
									<input type="submit" class="deleteAllBtn" th:id="'deleteBtn_' + ${memberStat.index}" th:value="'刪除'">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="center-container" style=" display: flex; justify-content: center;">
			<ul class="pagination">
			<th:block th:switch="${memberList.number != 0 }">
				<li th:case=${true} class="page-item">
					<a class="page-link" th:href="@{/tobackstageallmember.controller?(p=${memberList.number})}">上一頁</a>
				</li>
				<li th:case=${false} class="page-item disabled">
					<span class="page-link">上一頁</span>
				</li>
			</th:block>
			<th:block th:each="pageNumber:${#numbers.sequence(1,memberList.totalPages)}">
				<th:block th:switch="${memberList.number != pageNumber - 1 }">
					<li th:case=${true} class="page-item"><a class="page-link" th:href="@{/tobackstageallmember.controller?(p=${pageNumber})}">[[${pageNumber}]]</a>
					</li>
					<li th:case=${false} class="page-item active">
					<span class="page-link" th:text="${pageNumber}"></span></li>
				</th:block>
			</th:block>
			<th:block th:switch="${memberList.number != memberList.totalPages-1 }">
				<li th:case=${true} class="page-item">
					<a class="page-link" th:href="@{/tobackstageallmember.controller?(p=${memberList.number+2})}">下一頁</a>
				</li>
				<li th:case=${false} class="page-item disabled">
					<span class="page-link">下一頁</span>
				</li>
			</th:block>
			</ul>
		</div>
	</div>
</main>
	<div th:replace="~{layout/dashboardFooter}"></div>
	<script th:inline="javascript">
	$(function () {
	    $(".updateAllBtn").click(function () {
	        $(this).closest("tr").find("[id^='membername_'],[id^='membermail_'],[id^='memberphone_'],[id^='memberadd_'],[id^='memberpwd_'],[id^='memberlevel_']").prop("disabled", false);
	        $(this).css("display", "none");
	        $(this).siblings(".saveAllBtn").css("display", "block");	
	    })

	    $(".saveAllBtn").click(function () {
	    	
	    	$(this).parent().parent().siblings().children("[id^='membernum_']").prop("disabled", false);
            $(this).parent().parent().siblings().children("[id^='membernum_']").prop("readonly", true);
            
	        var confirmation = confirm("確認更改？");
	        
	        var numValue = $(this).closest('tr').find("[id^='membernum_']").val();
	        var nameValue = $(this).closest('tr').find("[id^='membername_']").val();
	        var emailValue = $(this).closest('tr').find("[id^='membermail_']").val();
	        var phoneValue = $(this).closest('tr').find("[id^='memberphone_']").val();
	        var addressValue = $(this).closest('tr').find("[id^='memberadd_']").val();
	        var passwordValue = $(this).closest('tr').find("[id^='memberpwd_']").val();
	        var levelValue = $(this).closest('tr').find("[id^='memberlevel_']").val();
	
	        if (confirmation) {
	            $(this).closest('tr').find("[id^='updatecheck_']").val("Y");
	            $(this).closest('tr').find("[id^='num_']").val(numValue);
	            $(this).closest('tr').find("[id^='name_']").val(nameValue);
	            $(this).closest('tr').find("[id^='email_']").val(emailValue);
	            $(this).closest('tr').find("[id^='phone_']").val(phoneValue);
	            $(this).closest('tr').find("[id^='address_']").val(addressValue);
	            $(this).closest('tr').find("[id^='password_']").val(passwordValue);
	            $(this).closest('tr').find("[id^='level_']").val(levelValue);
	            alert("更新成功!!!");
	        } else {
	            $(this).closest('tr').find("[id^='updatecheck_']").val("N");
	            alert("更新失敗!!!");
	        }
	    })

	    $(".deleteAllBtn").click(function () {
	        var confirmation = confirm("確認刪除？");
	        if (confirmation) {
	        	$(this).parent().parent().siblings().children("[id^='membernum_']").prop("disabled", false);
	            $(this).parent().parent().siblings().children("[id^='membernum_']").prop("readonly", true);
	            $(this).closest('td').find("[id^='deletecheck_']").val("Y");
	            var numValue = $(this).closest('tr').find("[id^='membernum_']").val();
	            $(this).closest('tr').find("[id^='numdelete_']").val(numValue);
	            alert("刪除成功!!!");
	        } else {
	            $(this).closest('td').find("[id^='deletecheck_']").val("N");
	            alert("刪除失敗!!!");
	        }
	    })
	})

	$(document).ready(function() {
    $('#searchInput').on('input', function() {
        var input1 = $(this).val().toLowerCase(); 
        var input2 = $('#myMemberNum').val();
        sendAjaxRequest(input1,input2);
	    });
	});

	function sendAjaxRequest(input1,input2) {
		
		if(input1=="" || input2==""){
			 window.location.href = "http://localhost:8080/TM/tobackstageallmember.controller";
		}else{
			 $.ajax({
			        type: "GET", 
			        url: "http://localhost:8080/TM/findnewallmember.controller",
			        data: {
			            text: input1,
			            mytext: input2
			        },
			        contentType: "application/json", 
			        success: function(response) {
			            console.log(response); 
			            updateTable(response);
			        },
			        error: function(xhr, status, error) {
			            console.log(error); 
			        }
			    });
		}
	   
	}
	
	function updateTable(memberList) {
	    var tbody = $('#memberListTableBody');
	    tbody.empty(); // 清空表格内容
	    for (var i = 0; i < memberList.length; i++) {
	        var member = memberList[i];
	        var row = '<tr>' +
	            '<td><input type="text" id="membernum_' + i + '" value="' + member.memberNum + '" disabled></td>' +
	            '<td><input type="text" id="membername_' + i + '" value="' + member.memberName + '" disabled></td>' +
	            '<td><input type="text" id="membersex_' + i + '" value="' + member.memberSex + '" disabled></td>' +
	            '<td><input type="email" id="membermail_' + i + '" value="' + member.memberMail + '" disabled></td>' +
	            '<td><input type="tel" id="memberphone_' + i + '" value="' + member.memberPhone + '" disabled></td>' +
	            '<td><input type="text" id="memberadd_' + i + '" value="' + member.memberAdd + '" disabled></td>' +
	            '<td><input type="text" id="memberid_' + i + '" value="' + member.memberId + '" disabled></td>' +
	            '<td><input type="text" id="memberacc_' + i + '" value="' + member.memberAcc + '" disabled></td>' +
	            '<td><input type="password" id="memberpwd_' + i + '" value="' + member.memberPwd + '" disabled></td>' +
	            '<td><select id="memberlevel_' + i + '" style="height: 30px" disabled>' +
	            '<option value="super_user"' + (member.memberLevel === 'super_user' ? ' selected' : '') + '>super_user</option>' +
	            '<option value="normal_user"' + (member.memberLevel === 'normal_user' ? ' selected' : '') + '>normal_user</option>' +
	            '</select></td>' +
	            '<td>' +
	            '<form action="updateallmember.controller" method="post">' +
	            '<input type="button" class="updateAllBtn" id="updateBtn_' + i + '" value="修改">' +
	            '<input type="hidden" id="updatecheck_' + i + '" name="check" value="">' +
	            '<input type="hidden" id="num_' + i + '" name="membernum" value="">' +
	            '<input type="hidden" id="name_' + i + '" name="membername" value="">' +
	            '<input type="hidden" id="email_' + i + '" name="membermail" value="">' +
	            '<input type="hidden" id="phone_' + i + '" name="memberphone" value="">' +
	            '<input type="hidden" id="address_' + i + '" name="memberadd" value="">' +
	            '<input type="hidden" id="password_' + i + '" name="memberpwd" value="">' +
	            '<input type="hidden" id="level_' + i + '" name="memberlevel" value="">' +

	            '<input type="submit" class="saveAllBtn" id="saveBtn_' + i + '" value="確認" style="display: none;">' +
	            '</form>' +
	            '</td>' +
	            '<td>' +
	            '<form action="deletemember.controller" method="post">' +
	            '<input type="hidden" id="deletecheck_' + i + '" name="check" value="">' +
	            '<input type="hidden" id="numdelete_' + i + '" name="numdelete" value="' + member.memberNum + '">' +
	            '<input type="submit" class="deleteAllBtn" id="deleteBtn_' + i + '" value="刪除">' +
	            '</form>' +
	            '</td>' +
	            '</tr>';
	        tbody.append(row);
	        
	        $(".updateAllBtn").click(function () {
		        $(this).closest("tr").find("[id^='membername_'],[id^='membermail_'],[id^='memberphone_'],[id^='memberadd_'],[id^='memberpwd_'],[id^='memberlevel_']").prop("disabled", false);
		        $(this).css("display", "none");
		        $(this).siblings(".saveAllBtn").css("display", "block");	
		    })

		    $(".saveAllBtn").click(function () {
		    	
		    	$(this).parent().parent().siblings().children("[id^='membernum_']").prop("disabled", false);
	            $(this).parent().parent().siblings().children("[id^='membernum_']").prop("readonly", true);
	            
		        var confirmation = confirm("確認更改？");
		        
		        var numValue = $(this).closest('tr').find("[id^='membernum_']").val();
		        var nameValue = $(this).closest('tr').find("[id^='membername_']").val();
		        var emailValue = $(this).closest('tr').find("[id^='membermail_']").val();
		        var phoneValue = $(this).closest('tr').find("[id^='memberphone_']").val();
		        var addressValue = $(this).closest('tr').find("[id^='memberadd_']").val();
		        var passwordValue = $(this).closest('tr').find("[id^='memberpwd_']").val();
		        var levelValue = $(this).closest('tr').find("[id^='memberlevel_']").val();
		
		        if (confirmation) {
		            $(this).closest('tr').find("[id^='updatecheck_']").val("Y");
		            $(this).closest('tr').find("[id^='num_']").val(numValue);
		            $(this).closest('tr').find("[id^='name_']").val(nameValue);
		            $(this).closest('tr').find("[id^='email_']").val(emailValue);
		            $(this).closest('tr').find("[id^='phone_']").val(phoneValue);
		            $(this).closest('tr').find("[id^='address_']").val(addressValue);
		            $(this).closest('tr').find("[id^='password_']").val(passwordValue);
		            $(this).closest('tr').find("[id^='level_']").val(levelValue);
		            alert("更新成功!!!");
		        } else {
		            $(this).closest('tr').find("[id^='updatecheck_']").val("N");
		            alert("更新失敗!!!");
		        }
		    })

		    $(".deleteAllBtn").click(function () {
		        var confirmation = confirm("確認刪除？");
		        if (confirmation) {
		        	$(this).parent().parent().siblings().children("[id^='membernum_']").prop("disabled", false);
		            $(this).parent().parent().siblings().children("[id^='membernum_']").prop("readonly", true);
		            $(this).closest('td').find("[id^='deletecheck_']").val("Y");
		            var numValue = $(this).closest('tr').find("[id^='membernum_']").val();
		            $(this).closest('tr').find("[id^='numdelete_']").val(numValue);
		            alert("刪除成功!!!");
		        } else {
		            $(this).closest('td').find("[id^='deletecheck_']").val("N");
		            alert("刪除失敗!!!");
		        }
		    })
	    }
	}
	</script>
</body>
</html> 
