<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>
</head>
<body>
	<div>
		<h2>Forgot Password</h2>
	</div>
	
	<div th:if="${error!=null}">
		<p>[[${error}]]</p>
	</div>
	<form th:action="@{/forgotpassword.controller}" method="post" id = "loginForm">
	<div>
		<input type="email" name="email" placeholder="E-mail" required autofocus />
		<input type="submit" value="Send" />
	</div>
	<div th:if="${message!=null}">
		<p>[[${message}]]</p>
	</div>
	</form>
</body>
</html>