<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
</head>
<body>
	<div>
		<h2>重設您的密碼</h2>
	</div>
	
	<form th:action="@{/resetpassword.controller}" method="post">
	<input type="hidden" name="token" th:value="${token}">
	<div>
		<input type="password" name="password" id="password" placeholder="輸入您新的密碼" required autofocus />
		<input type="password" name="confirmPassword" placeholder="再次輸入您新的密碼" required autofocus 
		oninput="checkPasswordMatch(this);"/>		
		<input type="submit" value="更改密碼" />
	</div>
	</form>
	
	<script th:src="@{js/index/jquery.min.js}"></script>
	<script type="text/javascript">
		function checkPasswordMatch(fieldConfirmPassword){
			if(fieldConfirmPassword.value != $("#password").val()){
				fieldConfirmPassword.setCustomValidity("密碼不一致");
			}else{
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>